html, body {
    width:              100%;
    height:             100%;

    margin:             0;
    padding:            0;
}
body {
    color:              #2D3F80;
    background:         white url("images/back_top.png") repeat-x;

    text-align:         center;
    font-family:        sans-serif;
}
label {
    float:              left;
    clear:              left;

    width:              10em;
    padding:            1ex 1em;

    text-align:         right;
}
input {
    float:              left;
    display:            block;

    width:              20em;
    padding:            1ex;
}
input[type=text]:hover {
    background:         #DDDDDD;
}
input[type=text]:active {
    background:         #CCCCCC;
}
input[type=text]:focus {
    background:         #EEEEEE;
}
img, a, a:hover {
    border:             none;

    color:              #000250;
    text-decoration:    none;
}
a:hover {
    color:              #5F6CA0;
}
.border {
    border-bottom:      1px dotted #000250;
}
.border:hover {
    border-bottom-color:#5F6CA0 !important;
    border-bottom-style:solid !important;
}
#comments {
    position:           absolute;
    z-index:            90;

    top:                50px;
    left:               50%;
    width:              30em;
    height:             3em;
    margin-left:        -15em;

    color:              #669;
    font-style:         italic;
}
    #comments form {
        position:       relative;
        z-index:        91;
        overflow:       hidden;

        height:         2em;

        font-style:     normal;
    }
    #comments form:hover {
        height:         11em;
        margin-top:     -1px;

        border:         1px solid #5F6CA0;
        background:     white;
        color:          #000250;
    }
    #comments form p {
        font-size:      8pt;
        font-style:     italic;
    }
#content img {
    padding:            3px;
    margin:             0;
}
    #content img:hover {
        padding:        2px;

        border:         1px solid #9D9D9D;
    }
h1 {
    margin:             0;
    padding:            1em;
    color:              #5F6CA0;
}
sup {
    font-size:          60%;
    font-style:         italic;
}
.preload {
    width:              0;
    height:             1px;
}
.small {
    font-size:          smaller;
}
.float {
    position:           fixed;
    bottom:             0;
    left:               0;
    width:              100%;
}
.float.right {
    left:               auto;
    right:              0;
    width:              auto;
    margin:             1ex;
}
#footer {
    font-size:          8pt;

    border-top:         1px solid #5F6CA0;
    padding:            1em 1em 1ex;
    margin:             0;
}
#menu {
    position:           absolute;
    z-index:            88;

    top:                0;
    left:               50%;
    width:              480px;
    height:             100px;
    margin:             0 0 0 -240px;
    padding:            0 46px;

    background:         url("images/menu.png") no-repeat;

    list-style:         none;
}
#menu[id] {
    position:           fixed;

    background:         url("images/menu-trans.png") no-repeat;
}
    #menu li, #submenu li {
        float:          left;
    }
    #menu li.active, #submenu li.active {
        border-top:     3px solid #2D3F80;
    }
    #menu li:hover, #submenu li:hover {
        border-top:     3px solid #B70000;
    }
    #menu a {
        display:        block;

        height:         42px;
    }
    #menu .a a {
        width:          99px;
    }
    #menu .b a {
        width:          72px;
    }
    #menu .c a {
        width:          108px;
    }
    #menu .d a {
        width:          108px;
    }
#submenu {
    position:           absolute;
    z-index:            89;

    top:                40px;
    left:               50%;
    width:              480px;
    height:             100px;
    margin:             0 0 0 -164px;
    padding:            0 46px;

    list-style:         none;
}
#submenu {
    position:           fixed;
}
    #submenu a {
        display:        block;

        height:         22px;
    }
    #submenu .a a {
        width:          118px;
    }
    #submenu .b a {
        width:          118px;
    }
#back .title {
    float:              left;

    width:              479px;
    height:             120px;

    background:         url("images/back_title.png") no-repeat;

    padding:            110px 0 0;
}
#back>.title {
    height:             0;
}
#back .track {
    float:              right;

    width:              300px;
    height:             120px;

    background:         url("images/back_trac.png") no-repeat;
}
    #back .track:hover {
        background:     url("images/back_trac_hover.png");
    }
#back .bottom {
    clear:              both;

    width:              100%;
    height:             250px;
    margin-bottom:      -80px;

    background:         url("images/back_bottom.png") repeat-x;
}
.tip {
    position:           absolute;
    display:            none;

    top:                60px;
    left:               50%;
    width:              400px;
    margin-left:        -200px;
    padding:            0.5ex;

    background:         #2D3F80;
    border:             1px solid #5F6CA0;
    color:              #C1C7DB;

    font-size:          smaller;
}
    div:hover .tip {
        display:        block;
    }
.tip a, .tip a:link {
    color:              white;
    text-decoration:    none;
}
    .tip a:hover {
        text-decoration:underline;
    }
object {
    border:             none;
    background:         black;
    position:           relative;
    z-index:            79;
}
#preview {
    position:           relative;

    width:              720px;
    height:             515px;
    margin:             0 auto;

    background:         url("current/images/gorillas_phone.png") top center no-repeat;
}
#preview.v100 {
    background:         url("1.0/images/gorillas_phone.png") top center no-repeat;
}
#preview.v110 {
    background:         url("1.1/images/gorillas_phone.png") top center no-repeat;
}
#preview #swf {
    margin-top:         32px;
}
#game {
    position:           relative;

    width:              640px;
    height:             350px;
    margin:             2em auto;
    padding:            1px;

    background:         url("images/original.png") 1px center no-repeat;
    border:             1px solid #9D9D9D;
}
.iphone {
    display:            none;

    position:           absolute;

    top:                0;
    left:               0;
    width:              100%;
    height:             100%;
}

.text {
    width:              36%;
    margin:             auto;
    padding:            1em;

    background:         #C1C7DB;
    border:             1px solid #9D9D9D;

    text-align:         left;
    font-size:          smaller;
}
#screenshots img {
    margin:             1em 0;
}

