body {
    color:              #188;
}
a, a:link {
    color:              #367;
    border-color:       #367;
}
h5 {
    border-color:       #376;
}
.separator {
    border-color:       #376;
}
#head a {
    color:              #587;
}
    #head ul.tabs li.active a {
        color:          white;
        background:     #A2CDCC;
        border-color:   #E1EFEF;
        font-weight:    bold;
    }
    #head ul.tabs li a:hover {
        background:     #A2CDCC;
        border-color:   #E1EFEF;
    }
#foot {
    background:         #E1EFEF;
    border-color:       #A2CDCC;
}
.text {
    background:         #D5E8E7;
    border-color:       #7EBCB9;
}
.text[class] {
    background:         rgba(84%, 91%, 90%, .7);
}
.entry ul.buttons li .button {
    background:         #E1EFEF;
    border-color:       #A2CDCC;
}
